---
layout: default
---
<!-- Splash -->
<section class="bg-image-kids d-flex flex-row justify-content-center align-items-center">
    <img src="{{ "/assets/img/IoGT_logo.png" | relative_url }}" alt="Logo of the Internet of Good Things"
         class="iogt-logo">
</section>

<!-- Intro video-->
<section class="container text-center pt-5 pb-5">
    <h2 id="video">IoGT Introductory Video</h2>
    <p class="lead pt-3">Our mission explained in 2 minutes.</p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="844" height="475"
                src="https://www.youtube.com/embed/0kuZ4mCHwdE"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</section>

<!-- A revolution -->
<section class="container text-center pt-5 pb-5">
    <h2 id="revolution">A Revolution in Information</h2>
    <div class="d-flex pt-5">
        <img src="{{ "/assets/img/feature_phone1.png" | relative_url }}"
             alt="Set of three feature phones demonstrating IoGT appearance" class="mr-3" width="574" height="auto">
        <div class="media-body">
            Internet of Good Things (IoGT) hosts mobile-packaged content designed to make life-saving and life-improving
            information available for free, even on low end devices. IoGT is helping communities and frontline workers
            access educational and lifesaving information at the point of care.
        </div>
    </div>
</section>